* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

td {
    box-sizing: border-box;
}

.sides {
    background-color: #dcdce5;
}

.content-td {
    width: 600px;
    background-color: #ffffff;
}

.form-padding td.padding {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 30px;
    padding-left: 30px;
}

.logo {
    padding-left: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
}

td.header-second {
    text-align: right;
    padding-right: 30px;
}

.phone {
    font-size: 16px;
    line-height: 24px;
    color: #25252c;
    font-weight: bold;
    font-family: "Arial";
    text-decoration: none;
}

.contact-phone {
    font-size: 13px;
    line-height: 18px;
    color: #9999a6;
    font-style: italic;
    font-family: "Arial";
    text-align: right;
}

.table-main {
    padding-top: 20px;
    padding-bottom: 35px;
    padding-left: 30px;
}

.table-main h2 {
    font-size: 24px;
    line-height: 55px;
    color: #24242b;
    font-weight: bold;
    font-family: "Arial";
}

.table-main p {
    max-width: 540px;
    font-size: 14px;
    line-height: 24px;
    color: #666666;
    font-family: "Arial";
    padding-bottom: 20px;
}

.table-main a {
    display: inline-block;
    border-radius: 25px;
    background-color: #fd8300;
    font-size: 14px;
    line-height: 40px;
    color: #ffffff;
    font-weight: bold;
    font-family: "Arial";
    text-align: center;
    padding-right: 20px;
    padding-left: 20px;
    text-decoration: none;
}

.icons {
    background-color: #ededf5;
}

.block {
    padding-top: 35px;
    padding-bottom: 35px;
}

.first {
    padding-left: 35px;
}

.last {
    padding-right: 35px;
}

.icons td h3 {
    max-width: 160px;
    font-size: 14px;
    line-height: 18px;
    color: #24242b;
    font-weight: bold;
    font-family: "Arial";
    text-align: center;
}

.icons td p {
    max-width: 160px;
    font-size: 13px;
    line-height: 18px;
    color: #666666;
    font-family: "Arial";
    text-align: center;
}

.align-bottom {
    vertical-align: bottom;
}

.houses {
    padding-right: 30px;
}


.houses h3 {
    font-size: 16px;
    color: #1f1f56;
    font-weight: bold;
    font-family: "Arial";
}

.houses p {
    max-width: 260px;
    font-size: 13px;
    line-height: 19px;
    color: #9999a6;
    font-family: "Arial";
}

.houses p.description {
    padding-top: 15px;
    padding-bottom: 20px;
}

.image-houses {
    padding-top: 25px;
    padding-right: 20px;
    padding-left: 30px;
    padding-bottom: 25px;
}

.edmonton-desc {
    padding-left: 30px;
}

.sale {
    background-image: url(https://github.com/Franchukkk/email/blob/master/images/bg.png?raw=true);
    padding-top: 25px;
    text-align: center;
    width: 600px;
}

.sale h2 {
    font-size: 24px;
    line-height: 24px;
    color: #ffffff;
    font-weight: bold;
    font-family: "Arial";
    text-align: center;
}

.sale p {
    margin: auto;
    max-width: 400px;
    font-size: 13px;
    line-height: 20px;
    color: #ffffff;
    font-family: "Arial";
    text-align: center;
}

.sale a {
    font-size: 12px;
    padding-top: 15px;
    padding-bottom: 12px;
    padding-right: 35px;
    padding-left: 35px;
    color: #ffffff;
    font-weight: bold;
    font-family: "Arial";
    text-align: center;
    border-radius: 20px;
    background-color: #1f1f56;
}

.title{
    padding-bottom: 12px;
}

.sale-description{
    padding-bottom: 22px;
}

.sale-button{
    padding-bottom: 35px;
}

.sociality {
    background-color: #08081a;
    padding-top: 30px;
    padding-bottom: 25px;
    padding-right: 130px;
    padding-left: 130px;
}

.sociality p {
    font-size: 13px;
    line-height: 18px;
    color: #9999a6;
    font-family: "Arial";
    text-align: center;
}

.soc-table td {
    padding-bottom: 20px;
}

.footer {
    text-align: center;
    background-color: #000014;
}

.footer td {
    padding-top: 15px;
    padding-bottom: 15px;
}

.footer td,
.footer a {
    font-size: 11px;
    line-height: 18px;
    color: #fd8300;
    font-family: "Arial";
    text-align: center;
}


.line hr {
    border: none;
    border-top-width: 1px;
    border-top-color: #e3e3eb;
    border-top-style: solid;
}

.phone-td {
    padding-left: 125px;
}

.sides-down {
    background-color: #f5f5f5;
}

.house-left {
    padding-left: 0;
    padding-right: 0;
}

.description td {
    padding-top: 15px;
}